{% extends 'base.html' %}
{% block link %}

{% endblock link %}
{% block title %}
About Us
{% endblock title %}

{% block body %}
            <h1 class="text-center text-warning mt-5">About us!</h1>
<div class="container mt-5">
    <p><b class="text-success">Okie Dokie!</b> - Is a Great Way to Improve YOUR English-Speaking Skills!</p><br>
    <p><b class="text-warning">Okie Dokie!</b> – is a free online English club for teenagers. We meet new people, have discussions and play conversational games here.</p><br>
    <p><b class="text-primary">Okie Dokie!</b> – это отличный способ улучшить твои навыки говорения на английском языке!</p><br>
    <p><b class="text-info">Okie Dokie!</b> – это бесплатный онлайн клуб английского языка для подростков. Здесь мы встречаемся с новыми людьми, обсуждаем интересные темы и играем в разговорные игры.</p>
</div>
{% endblock body %}