{% extends 'base.html' %}
{% block link %}

{% endblock link %}
{% block title %}
    About Us
{% endblock title %}

{% block body %}
    <h1 class="text-center text-warning mt-5">About us!</h1>
    <div class="container mt-5">
        <p><span class="text-warning font-weight-bold">Okie Dokie!</span> - {{ _(' is an online English-speaking club for kids and teenagers! ') }}</p>
        <p><span class="text-success font-weight-bold">Okie Dokie!</span> – {{ _(' is a Great Way to Improve YOUR English-Speaking Skills! ') }}</p>
        <p><span class="">Okie Dokie!</span> – {{ _(' gives you a chance to practice English in a relaxed, informal environment. ') }}</p>
        <p><span class="text-danger font-weight-bold">Okie Dokie!</span> – {{ _(' provides an opportunity to be surrounded by the language and have regular, real reasons for using English. This will help you to feel more confident and prepared for English classes, exams and real-life settings. ') }}</p>
        <p>{{ _(' In ') }} <span class="text-primary font-weight-bold">Okie Dokie!</span> {{ _(' we: ') }}</p>
        <ul>
            <li>{{ _(' Discuss interesting topics ') }}</li>
            <li>{{ _(' Meet new people ') }}</li>
            <li>{{ _(' Play conversational games ') }}</li>
            <li>{{ _(' Organize quizzes with prizes! ') }}</li>
            <li>{{ _(' Watch cartoons and movies ') }}</li>
            <li>{{ _(' Repeat grammar (a little bit) ') }}</li>
            <li>{{ _(' Get new positive emotions ') }}</li>
        </ul>
        <p>{{ _(' Participating in language speaking club Okie Dokie! help you to improve and expand your vocabulary, remember what you learned earlier and build fluency in English! ') }}</p>

        <p>Use it or lose it!</p>

        <p>{{ _(' Join our club and practice your English speaking with like-minded people! ') }}</p>
    </div>
{% endblock body %}