{% extends 'base.html' %}

{% block title %}
Okie Points
{% endblock title %}

{% block body %}
<div class="container mt-5 text-center">
    <p class="h2 ">{{ _('How to earn Okie Points') }}?</p>

    <table class="table">
        <tbody>
        <tr>
            <td>{{ _('Share from our') }}  <a href="https://vk.com/public195995603">OkieDokie!</a> {{ _('group on VK or Facebook') }} </td>
            <td>1 point</td>
        </tr>
        <tr>
            <td>{{ _('New member invited by you in meeting') }}</td>
            <td>1 point</td>
        </tr>
        <tr>
            <td>{{ _('Victory in a game') }}</td>
            <td>1 point</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <div class="mb-2 h1">{{ _('Top Users') }} </div>
                </thead>
                {% for user in top_users %}
                <tr class="bg-info rounded text-light border-bottom border-light h4">
                    <td>{{ loop.index }}</td>
                    <td class="h4 text-left">{{ user.first_name }} {{ user.last_name }}</td>
                    <td class="h4">{{ user.points }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col">
            <p class="h1">{{ _('New bonus system') }}!</p>
            <p class="h4 mt-4">{{ _('Earn 5 Okie Points and get free individual English lesson') }}!</p>
        </div>
    </div>
</div>
{% endblock body %}