{% extends 'base.html' %}
{% block title %}
Payment
{% endblock title %}

{% block body %}
<div class="container">
<form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
    <input type="hidden" name="receiver" value="4100115666126622">
    <input type="hidden" name="label" value={{ user_id }}>
    <input type="hidden" name="quickpay-form" value="donate">
    <input type="hidden" name="targets" value="1 class">
    <input type="hidden" name="sum" value="150" data-type="number">
    <input type="hidden" name="paymentType" value="AC">
    <input type="submit" class="btn btn-primary" value="Оплатить">
</form>
<iframe src="https://money.yandex.ru/quickpay/button-widget?targets=%D0%9E%D0%BF%D0%BB%D0%B0%D1%82%D0%B0%20%D0%B7%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D1%8F&default-sum=150&button-text=11&any-card-payment-type=on&button-size=m&button-color=orange&mail=on&successURL=&quickpay=small&account=4100115666126622&" width="184" height="36" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
</div>
{% endblock body %}