{% extends 'base.html' %}
{% block title %}
Payment
{% endblock title %}

{% block body %}
<div class="container">
<form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
    <input type="hidden" name="receiver" value="4100115666126622">
    <input type="hidden" name="label" value={{ user_email }}>
    <input type="hidden" name="quickpay-form" value="donate">
    <input type="hidden" name="targets" value="1 class">
    <input type="hidden" name="sum" value="150" data-type="number">
    <input type="hidden" name="paymentType" value="AC">
    <input type="submit" class="btn btn-primary" value="Оплатить">
</form>
</div>
{% endblock body %}