{% extends 'base.html' %}
{% block link %}

{% endblock link %}
{% block title %}
    Products
{% endblock title %}


{% block body %}
    <h1 class="text-center mt-5">{{ _(' Buy classes ') }}</h1>
    <div class="container mt-5">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header bg-success text-white">
                    <h4 class="my-0 font-weight-normal">One class</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">150₽</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                    <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
                        <input type="hidden" name="receiver" value="4100115666126622">
                        <input type="hidden" name="label" value={{ user_id }}>
                        <input type="hidden" name="quickpay-form" value="shop">
                        <input type="hidden" name="targets" value="1 class">
                        <input type="hidden" name="sum" value="150" data-type="number">
                        <input type="hidden" name="paymentType" value="AC">
                        <input type="hidden" name="formcomment" value="1 class">
                        <input type="hidden" name="successURL" value="http://http://164.90.217.142/payment/success">
                        <input type="submit" class="btn btn-primary" value="Оплатить">
                    </form>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header bg-success text-white">
                    <h4 class="my-0 font-weight-normal">5 Classes</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">550₽</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>20 users included</li>
                        <li>10 GB of storage</li>
                        <li>Priority email support</li>
                        <li>Help center access</li>
                    </ul>
                    <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
                        <input type="hidden" name="receiver" value="4100115666126622">
                        <input type="hidden" name="label" value={{ user_id }}>
                        <input type="hidden" name="quickpay-form" value="shop">
                        <input type="hidden" name="targets" value="1 class">
                        <input type="hidden" name="sum" value="150" data-type="number">
                        <input type="hidden" name="paymentType" value="AC">
                        <input type="hidden" name="formcomment" value="5 classes">
                        <input type="hidden" name="successURL" value="http://http://164.90.217.142/payment/success">
                        <input type="submit" class="btn btn-primary" value="Оплатить">
                    </form>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header bg-success text-white">
                    <h4 class="my-0 font-weight-normal">10 Classes Pass</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">1400₽</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>30 users included</li>
                        <li>15 GB of storage</li>
                        <li>Phone and email support</li>
                        <li>Help center access</li>
                    </ul>
                    <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
                        <input type="hidden" name="receiver" value="4100115666126622">
                        <input type="hidden" name="label" value={{ user_id }}>
                        <input type="hidden" name="quickpay-form" value="shop">
                        <input type="hidden" name="targets" value="10 classes">
                        <input type="hidden" name="sum" value="150" data-type="number">
                        <input type="hidden" name="paymentType" value="AC">
                        <input type="hidden" name="formcomment" value="1 class">
                        <input type="hidden" name="successURL" value="http://http://164.90.217.142/payment/success">
                        <input type="submit" class="btn btn-primary" value="Оплатить">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}