{% extends 'base.html' %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signin.css') }}">
{% endblock link %}
{% block title %}
Registration
{% endblock title %}
{% block body %}
<div class="container mt-5">
    <form class="form-signin" method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <h1 class="h3 mb-3 font-weight-normal">{{ _('Please register') }} </h1>
            {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="mt-1 mb-4 alert alert-danger">
                {% for error in form.email.errors %}
                <strong> {{ error }} </strong>
                {% endfor %}
            </div>
            {% else %}
            {{ form.email(class="form-control form-control-lg mb-2", placeholder=gettext("Email")) }}
            {% endif %}

            {% if form.first_name.errors %}
            {{ form.first_name(class="form-control form-control-lg is-invalid", placeholder= gettext("First Name")) }}
            <div class="mt-1 mb-4 alert alert-danger">
                {% for error in form.first_name.errors %}
                <strong> {{ error }} </strong>
                {% endfor %}
            </div>
            {% else %}
            {{ form.first_name(class="form-control form-control-lg mb-2", placeholder= gettext("First Name")) }}
            {% endif %}

            {% if form.last_name.errors %}
            {{ form.last_name(class="form-control form-control-lg is-invalid", placeholder= gettext("Last Name")  ) }}
            <div class="mt-1 mb-4 alert alert-danger">
                {% for error in form.last_name.errors %}
                <strong> {{ error }} </strong>
                {% endfor %}
            </div>
            {% else %}
            {{ form.last_name(class="form-control form-control-lg mb-2", placeholder= gettext("Last Name")  ) }}
            {% endif %}

            {% if form.age.errors %}
            {{ form.age(class="form-control form-control-lg is-invalid", placeholder= gettext("Age")  ) }}
            <div class="mt-1 mb-4 alert alert-danger">
                {% for error in form.age.errors %}
                <strong> {{ error }} </strong>
                {% endfor %}
            </div>
            {% else %}
            {{ form.age(class="form-control form-control-lg mb-2", placeholder= gettext("Age") ) }}
            {% endif %}

            {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid", placeholder= gettext("Password")  ) }}
            <div class="mt-1 mb-4 alert alert-danger">
                {% for error in form.password.errors %}
                <strong> {{ error }} </strong>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="form-control form-control-lg mb-2", placeholder= gettext("Password")  ) }}
            {% endif %}

            {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control form-control-lg is-invalid", placeholder= gettext("Confirm Password")) }}
            <div class="mt-1 mb-4 alert alert-danger">
                {% for error in form.confirm_password.errors %}
                <strong> {{ error }} </strong>
                {% endfor %}
            </div>
            {% else %}
            {{ form.confirm_password(class="form-control form-control-lg mb-2", placeholder= gettext("Confirm Password")  ) }}
            {% endif %}

        </fieldset>
        <div class="mb-2"> {{ form.recaptcha() }} </div>
        {{ form.submit(class="btn btn-lg btn-outline-success btn-block") }}
    </form>
</div>
{% endblock body %}